.git
.github
.idea
.vscode
node_modules
tests
bootstrap/cache/*
!bootstrap/cache/.gitignore
storage/*.key
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
storage/logs/*
.env
.env.*
.phpunit.result.cache
*.log
